[mcu expander]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_360022000443303848373220-if00
restart_method: command

#####################################################################
# Auxillary Fan Control
#####################################################################
#[output_pin Auxillary Fan]
#pin: expander:PA0
#pwm: true
#cycle_time: 0.010
#value: 0
#shutdown_value: 0

[fan_generic Aux_Fan] 
pin: expander:PA1
max_power: 1.0
shutdown_speed: 0
#cycle_time:
#hardware_pwm:
kick_start_time: 0.2
off_below: 0.25
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:

# Replacement-Macro to control the Fan with M106 P2 and M107 for BambuStudio
# Macro inspired by klipper-github issue https://github.com/Klipper3d/klipper/issues/2174
[gcode_macro M106]
rename_existing: G106
gcode:
    {% if params.P is defined %}
        {% if params.P|int == 2 %}
            {% if params.S is defined %}
                {% if params.S|int == 255 %}
                    {% set realspeed = 1 %}
                {% else %}
                    {% if params.S|int == 0 %}
                        {% set realspeed = 0 %}
                    {% else %}
                        {% set realspeed = params.S|float/255 %}
                    {% endif %}
                {% endif %}
            {% else %}
                {% set realspeed = 1 %}
            {% endif %}

            SET_FAN_SPEED FAN=Aux_Fan SPEED={realspeed}
        {% endif %}
    {% else %}
        {% if params.S is defined %}
          G106 S{params.S}
        {% else %}
          G106 S255
        {% endif %}
    {% endif %}

[gcode_macro M107]
rename_existing: G107
gcode:
    {% if params.P is defined %}
      {% if params.P|int == 2 %}
        SET_FAN_SPEED FAN=Aux_Fan SPEED=0
      {% endif %}      
    {% else %}
      SET_FAN_SPEED FAN=Aux_Fan SPEED=0  
      G107
    {% endif %}

[gcode_macro AUX_FAN_ON]
gcode:
  SET_FAN_SPEED FAN=Aux_Fan SPEED=1.0
###############################################    
### Display control
### Adds Fan controls for Auxfan to Displays Control section
###############################################

[menu __main __control __auxfanonoff]
type: input
enable: {'fan_generic Aux_Fan' in printer}
name: Aux Fan: {'ON ' if menu.input else 'OFF'}
input: {printer['fan_generic Aux_Fan'].speed}
input_min: 0
input_max: 1
input_step: 1
index: 9 # Place it right beneath partcooling fan controls
gcode:
    M106 P2 S{255 if menu.input else 0}

[menu __main __control __auxfanspeed]
type: input
enable: {'fan_generic Aux_Fan' in printer}
name: Aux speed: {'%3d' % (menu.input*100)}%
input: {printer['fan_generic Aux_Fan'].speed}
input_min: 0
input_max: 1
input_step: 0.01
index: 10 # Place it right beneath partcooling fan controls
gcode:
    SET_FAN_SPEED FAN=Aux_Fan SPEED={menu.input}

#####################################################################
# Filter Fan
#####################################################################

[fan_generic filter_fan]
pin: expander: PA0
max_power: 1.0
shutdown_speed: 0
#cycle_time:
#hardware_pwm:
kick_start_time: 0.2
off_below: 0.25

[gcode_macro FILTER_FAN_ON]
gcode:
  SET_FAN_SPEED FAN=filter_fan SPEED=1.0

[gcode_macro FILTER_FAN_OFF]
gcode:
  SET_FAN_SPEED FAN=filter_fan SPEED=0

#####################################################################
# Unused Mosfets
#####################################################################

#[output_pin mosfet2]
#pin: expander:PA2
#pwm: true
#cycle_time: 0.010
#value: 0
#shutdown_value: 0

#[output_pin mosfet3]
#pin: expander:PA3
#pwm: true
#cycle_time: 0.010
#value: 0
#shutdown_value: 0

#####################################################################
# LEDs
#####################################################################

# Status LED lights when klipper connects 
[static_digital_output onboardLED]
pins: !expander:PA4


[neopixel expanderPixel]
pin: expander:PB1
chain_count: 1
initial_RED: 0
initial_GREEN: 0
initial_BLUE: 0.3

#####################################################################
# Thermistors
#####################################################################

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: expander:PA6
gcode_id: T2

[gcode_macro chamber_wait]
gcode:
  TEMPERATURE_WAIT SENSOR=chamber MINIMUM={target_chamber}   # Waits for chamber to reach desired temp

#[temperature_sensor t3]
#sensor_type: 
#sensor_pin: expander:PA5
#gcode_id: T3

#####################################################################
# GPIO
#####################################################################

# GPIO = PA7